node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo
.expo
**/.expo
coverage
**/coverage
**/*.test.ts
**/*.integration.test.ts
**/.env
**/.env.local
**/.env.*.local
.git
.github
.vscode
.idea
*.log
README.md
